* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contents {
    color: blue;
    font-size: larger;
    text-align: center;
}

.version {
    font-size: x-small;
}